**List:**

append(): Add an element to the end of the list.

extend(): Add elements from an iterable to the end of the list.

insert(): Insert an element at a specific position.

remove(): Remove the first occurrence of a value.

pop(): Remove and return an element by index.

index(): Find the index of the first occurrence of a value.

count(): Count the number of occurrences of a value.

sort(): Sort the list in place.

reverse(): Reverse the order of elements.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)
fruits.extend(["grape", "kiwi"])
print(fruits)
fruits.insert(1, "strawberry")
print(fruits)
fruits.remove("banana")
print(fruits)
fruits.pop(3)
print(fruits)
index = fruits.index("cherry")
print(index)
count = fruits.count("kiwi")
print(count)
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi']
['apple', 'strawberry', 'banana', 'cherry', 'orange', 'grape', 'kiwi']
['apple', 'strawberry', 'cherry', 'orange', 'grape', 'kiwi']
['apple', 'strawberry', 'cherry', 'grape', 'kiwi']
2
1
['apple', 'cherry', 'grape', 'kiwi', 'strawberry']
['strawberry', 'kiwi', 'grape', 'cherry', 'apple']

**Tuple:**

Tuples are immutable, so they have limited methods.

count(): Count the number of occurrences of a value.

index(): Find the index of the first occurrence of a value.

In [ ]:
colors = ("red", "green", "blue", "red")
count = colors.count("red")
print(count)
index = colors.index("blue")
print(index)

2
2

**Set:**

add(): Add an element to the set.

remove(): Remove an element from the set. Raises an error if the element is not present.

discard(): Remove an element from the set. Does not raise an error if the element is not present.

union(): Return the union of two sets.

intersection(): Return the intersection of two sets.

difference(): Return the difference between two sets.

symmetric_difference(): Return the symmetric difference between two sets.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)
fruits.remove("banana")
print(fruits)
fruits.discard("strawberry")
print(fruits)
vegetables = {"carrot", "broccoli", "cherry"}
union_set = fruits.union(vegetables)
print(union_set)
intersection_set = fruits.intersection(vegetables)
print(intersection_set)
difference_set = fruits.difference(vegetables)
print(difference_set)
symmetric_diff_set = fruits.symmetric_difference(vegetables)
print(symmetric_diff_set)

{'apple', 'orange', 'cherry', 'banana'}
{'apple', 'orange', 'cherry'}
{'apple', 'orange', 'cherry'}
{'apple', 'cherry', 'orange', 'carrot', 'broccoli'}
{'cherry'}
{'apple', 'orange'}
{'carrot', 'apple', 'orange', 'broccoli'}

**Dictionary:**

keys(): Get a list of all keys.

values(): Get a list of all values.

items(): Get a list of key-value pairs.

get(): Get the value for a specific key, with a default value if the key is not present.

pop(): Remove and return the value for a specific key.

update(): Update the dictionary with key-value pairs from another dictionary.

In [ ]:
student = {"name": "Alice", "age": 25, "grade": "A"}
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)
age = student.get("age", 0)
print(age)
grade = student.pop("grade")
print(student)
student.update({"city": "New York"})
print(student)

dict_keys(['name', 'age', 'grade'])
dict_values(['Alice', 25, 'A'])
dict_items([('name', 'Alice'), ('age', 25), ('grade', 'A')])
25
{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 25, 'city': 'New York'}

**String:**

upper(): Convert the string to uppercase.

lower(): Convert the string to lowercase.

strip(): Remove leading and trailing whitespace.

split(): Split the string into a list of substrings.

join(): Join a list of strings into one string.

replace(): Replace a substring with another.

In [ ]:
text = "Hello, World"
uppercase_text = text.upper()
print(uppercase_text)
lowercase_text = text.lower()
print(lowercase_text)
stripped_text = text.strip()
print(stripped_text)
words = text.split(", ")
joined_text = " - ".join(words)
print(joined_text)
replaced_text = text.replace("World", "Python")
print(replaced_text)

HELLO, WORLD
hello, world
Hello, World
Hello - World
Hello, Python